<!-- Sidebar Nav for the Assessment and Evaluation Module -->
<aside>
<div class="image">   
    <a href="{{site.url}}{{site.baseurl}}"><img src="{{site.url}}{{site.baseurl}}/assets/img/sidebar_logo.png" width="200px"></a>
</div>  

<p style="text-align:center;font-size:110%;font-weight:bold;">Connected Learning Assessment & Evaluation</h2>
        
<div id="{{ page.subsection }}">

    <ul class="agenda-navigation">
<li class="overview sectionhead"><a href="index.html">Module Overview</a></li>

<li class="one sectionhead"><a href="section-1-0.html">1. Introduction</a></li>       
    <li class="one-one"><a href="section-1-2.html">1.1 What is an Assessment</a></li>
    <li class="one-two"><a href="section-1-3.html">1.2 What is an Evaluation</a></li>
            
<li class="two sectionhead"><a href="section-2-0.html">2. Assessment</a></li>
    <li class="two-one"><a href="section-2-1.html">2.1 Choosing What to Measure</a></li>
    <li class="two-two"><a href="section-2-2.html">2.2 Collecting Data</a></li>
    <li class="two-three"><a href="section-2-3.html">2.3 Analyzing Data</a></li>

<li class="three sectionhead"><a href="section-3-0.html">3. Evaluation</a></li>
    <li class="three-one"><a href="section-3-1.html">3.1 Stakeholders</a></li>
    <li class="three-two"><a href="section-3-2.html">3.2 Outcomes</a></li>
    <li class="three-three"><a href="section-3-3.html">3.3 Evaluation Questions</a></li>
    <li class="three-four"><a href="section-3-4.html">3.4 Using Assessments in Evaluations</a></li>
    <li class="three-five"><a href="section-3-5.html">3.5 Evaluation Plans</a></li>

<li class="four sectionhead"><a href="section-4-0.html">4. Now What</a></li>
    <li class="four-one"><a href="section-4-1.html">4.1 Communicating Results</a></li>
    <li class="four-two"><a href="section-4-2.html">4.2 Using Results</a></li>
</ul> 
        </div>
      </aside>
