<!-- Sidebar Nav for the Introduction Module -->
<aside>
<div class="image">   
    <a href="{{site.url}}{{site.baseurl}}"><img src="{{site.url}}{{site.baseurl}}/assets/img/sidebar_logo.png" width="200px"></a>
</div>  

<p style="text-align:center;font-size:110%;font-weight:bold;">Connected Learning Capacity</h2>
        
<div id="{{ page.subsection }}">

    <ul class="agenda-navigation">
<li class="overview sectionhead"><a href="index.html">Module Overview</a></li>

<li class="one sectionhead"><a href="section-1-0.html">1. Introduction</a></li>       
    <li class="one-one"><a href="section-1-1.html">1.1 Your Library's Capacity</a></li>
            
<li class="two sectionhead"><a href="section-2-0.html">2. Before You Start</a></li>

<li class="three sectionhead"><a href="section-3-0.html">3. Self-Assessing Capacity</a></li>

<li class="four sectionhead"><a href="section-4-0.html">4. Determining Community Need</a></li>
    <li class="four-one"><a href="section-4-1.html">4.1 Community Assets</a></li>
    <li class="four-two"><a href="section-4-2.html">4.2 Community Needs</a></li>
        
<li class="five sectionhead"><a href="section-5-0.html">5. Overview</a></li>
    <li class="five-one"><a href="section-5-1.html">5.1 Using Your Library's Capacity Assessment</a></li>
    <li class="five-two"><a href="section-5-2.html">5.2 Technology</a></li>
    <li class="five-three"><a href="section-5-3.html">5.3 Space</a></li>
    <li class="five-four"><a href="section-5-4.html">5.4 Staffing</a></li>
        
<li class="six sectionhead"><a href="section-6-0.html">6. Overview</a></li>
    <li class="six-one"><a href="section-6-1.html">6.1 Troubleshooting</a></li>
    <li class="six-two"><a href="section-6-2.html">6.2 Optimization</a></li>
    <li class="six-three"><a href="section-6-3.html">6.3 Implementing Connected Learning in Your Library</a></li>

<li class="seven sectionhead"><a href="section-7-0.html">7. Summary</a></li>
        
</ul> 
        </div>
      </aside>
