<!-- Sidebar Nav for the Introduction Module -->
<aside>
<div class="image">   
    <a href="{{site.url}}{{site.baseurl}}"><img src="{{site.url}}{{site.baseurl}}/assets/img/sidebar_logo.png" width="200px"></a>
</div>  

<p style="text-align:center;font-size:110%;font-weight:bold;">Connected Learning Design Thinking</h2>
        
<div id="{{ page.subsection }}">

    <ul class="agenda-navigation">
<li class="overview sectionhead"><a href="index.html">Module Overview</a></li>

<li class="one sectionhead"><a href="section-1-0.html">1. Introduction</a></li>       
    <li class="one-one"><a href="section-1-1.html">1.1 What is Design Thinking</a></li>
    <li class="one-two"><a href="section-1-2.html">1.2 Design Thinking in the Youth Librarian Context</a></li>
    <li class="one-three"><a href="section-1-3.html">The Design Thinking Process</a></li>
    <li class="one-three"><a href="section-1-4.html">Design Thinking and Connected Learning</a></li>
            
<li class="two sectionhead"><a href="section-2-0.html">2. Exploring a Design Challenge</a></li>
    <li class="two-one"><a href="section-2-1.html">2.1 Design Challenge Examples</a></li>
    <li class="two-two"><a href="section-2-2.html">2.2 Initiating the Challenge</a></li>
    <li class="two-three"><a href="section-2-3.html">2.3 Facilitating a Design Challenge Through Studio Experience</a></li>
    <li class="two-three"><a href="section-2-4.html">2.4 Kick Off or Warm Ups</a></li>
    <li class="two-three"><a href="section-2-5.html">2.5 Closing Out the Challenge</a></li>

<li class="three sectionhead"><a href="section-3-0.html">3.0 Overview</a></li>
    <li class="three-one"><a href="section-3-1.html">3.1 Imagination</a></li>
    <li class="three-two"><a href="section-3-2.html">3.2 Ideation</a></li>
    <li class="three-three"><a href="section-3-3.html">3.3 Iteration</a></li>

<li class="four sectionhead"><a href="section-4-0.html">4.0 Overcoming Challenges</a></li>
    
</ul> 
        </div>
      </aside>
