<!-- THIS IS THE INCLUDE FOR THE HEAD OF EVERY FILE -->


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{site.url}}{{site.baseurl}}/assets/js/dropdown.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{site.url}}{{site.baseurl}}/assets/css/connectedlib.css">
 </head>
