<!-- Sidebar Nav for the Introduction Module -->
<aside>
        <div class="image">
        <a href="{{site.url}}{{site.baseurl}}">
          <img src="{{site.url}}{{site.baseurl}}/assets/img/connectedlib_logo_noslogan.png" width="200px"></a>
        </div>

<div id="{{ page.subsection }}">
        <ul class="agenda-navigation">
          <li class="overview"><a href="{{site.url}}{{site.baseurl}}/introduction/">Overview</a></li>
          <li class="one"><a href="{{site.url}}{{site.baseurl}}/intro-1/">What is Connected Learning?</a></li>
          <li class="two"><a href="{{site.url}}{{site.baseurl}}/intro-3/">Interests</a></li>
          <li class="three"><a href="{{site.url}}{{site.baseurl}}/intro-4/">Relationships</a></li>
          <li class="four"><a href="{{site.url}}{{site.baseurl}}/intro-5/">Opportunity</a></li>
          <li class="five"><a href="{{site.url}}{{site.baseurl}}/intro-6/">Why ConnectedLib?</a></li>
          <li class="six"><a href="{{site.url}}{{site.baseurl}}/intro-7/">Section 1 Activities</a></li>
        </ul>
      </div>
      </aside>