<div class="clnavbar">
  <div class="dropdown">
    <button class="dropbtn">{{ site.title }} - {{ page.module_full_name }}
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{{site.url}}{{site.baseurl}}/introduction/">0. Module Overview</a>
      <a href="{{site.url}}{{site.baseurl}}/introduction/section-1/">1. Introduction to Connected Learning</a>
      <a href="{{site.url}}{{site.baseurl}}/introduction/section-2">2. Connected Learning Design Principles</a>
      <a href="{{site.url}}{{site.baseurl}}/introduction/section-3">3. Why Your Library Needs Connected Learning</a>
      <a href="{{site.url}}{{site.baseurl}}/introduction/section-4">4. A Connected Learning Plan for Your Library</a>
    </div>
  </div> 
</div>
