<!-- Sidebar Nav for the Introduction Module -->
<aside>
        <div class="image">
        <a href="https://infobyway.github.io/connectedlibtest2/index.html">
          <img src="https://infobyway.github.io/connectedlibtest2/assets/img/connectedlib_logo_noslogan.png" width="200px"></a>
        </div>

<div id="{{ page.section }}">
        <ul class="agenda-navigation">
          <li class="overview"><a href="../introduction/">Overview</a></li>
          <li class="one"><a href="intro-1/">What is Connected Learning?</a></li>
          <li class="two"><a href="../intro-3/">Interests</a></li>
          <li class="three"><a href="../intro-4/">Relationships</a></li>
          <li class="four"><a href="../intro-5/">Opportunity</a></li>
          <li class="five"><a href="../intro-6/">Why ConnectedLib?</a></li>
          <li class="six"><a href="../intro-7/">Section 1 Activities</a></li>
        </ul>
      </div>
      </aside>