<!-- Sidebar Nav for the Introduction Module -->
<aside>
        <div class="image">
        <a href="../index.html">
          <img src="../images/connectedlib_logo_noslogan.png" width="200px"></a>
        </div>

        <ul class="agenda-navigation">
          <li><a href="../introduction/">Overview</a></li>
          <li><a href="../intro-2/">What does connected learnng connect?</a></li>
          <li><a href="../intro-3/">Interests</a></li>
          <li><a href="../intro-4/">Relationships</a></li>
          <li><a href="../intro-5/">Opportunity</a></li>
          <li><a href="../intro-6/">Why ConnectedLib?</a></li>
          <li><a href="../intro-7/">Section 1 Activities</a></li>
        </ul>
      </aside>