       <div class="activity-menu">
          <a class="toggle"><strong>ConnectedLib</strong> - Module 1 of 6</a>
        <!--  <div class= "header-links"><a href="../connectedlibtest2/index.html" target="_blank">HOME</a>
            <a href="../connectedlibtest2/about/" target="_blank">ABOUT</a>
          <a href="../connectedlibtest2/downloads/" target="_blank">DOWNLOADS</a></div>-->
          <ol class="activity-list">
            <li class="current"><a href="module-one.html">Introduction to Connected Learning</a></li>
            <li><a href="module-two.html">Connected Learning Design Principles</a></li>
            <li><a href="module-three.html">Why Your Library Needs Connected Learning</a></li>
            <li><a href="module-four.html">A Connected Learning Plan for Your Library</a></li>
          </ol>
        </div>
