<div class="clnavbar">
  <div class="dropdown">
    <button class="dropbtn">{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="../introduction/">0. Module Overview</a>
      <a href="../introduction/section1.html">1. Introduction to Connected Learning</a>
      <a href="../introduction/section2.html">2. Connected Learning Design Principles</a>
      <a href="../introduction/section3.html">3. Why Your Library Needs Connected Learning</a>
      <a href="../introduction/section4.html">4. A Connected Learning Plan for Your Library</a>
    </div>
  </div> 
</div>
