<!-- Sidebar Nav for the Introduction Module -->
<aside>
        <div class="image">
        ConnectedLib!
          <!--<img src="images/TASCHA_logo_stacked_color.png" alt="TASCHA logo">
          <a class="attribution" href="https://www.flickr.com/photos/laura_nk/24640877256/sizes/m/">By laura_nk</a>-->
        </div>

        <ul class="agenda-navigation">
          <li><a href="#overview">Overview</a></li>
          <li><a href="#step-1">Introduction</a></li>
          <li><a href="#step-2">Critical Thinking</a></li>
          <li><a href="#step-3">Key Concepts on D4D</a></li>
          <li><a href="#step-4">Workshop Goals and Outcomes</a></li>
          <li><a href="#step-5">Case study</a></li>
          <li><a href="#step-6">Student Activity 1.1</a></li>
          <li><a href="#step-7">Exploring Different Forms of Data</a></li>
          <li><a href="#step-8">Key Concepts on Data Visualization</a></li>
          <li><a href="#step-9">Student Activity 1.2</a></li>
          <li><a href="#step-10">Debrief</a></li>
        </ul>
      </aside>