       <div class="activity-menu">
          
<div class="clnavbar">
  <div class="dropdown">
    <button class="dropbtn" onclick="myFunction()">ConnectedLib - Module 1 of 6
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content" id="myDropdown">
      <a href="module-one.html">Introduction to Connected Learning</a>
      <a href="module-two.html">Connected Learning Design Principles</a>
      <a href="module-three.html">Why Your Library Needs Connected Learning</a>
      <a href="module-four.html">A Connected Learning Plan for Your Library</a>
    </div>
  </div> 
</div>
          
</div>
<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
    var myDropdown = document.getElementById("myDropdown");
      if (myDropdown.classList.contains('show')) {
        myDropdown.classList.remove('show');
      }
  }
}
</script>