<!-- Sidebar Nav for the Introduction Module -->
<aside>
<div class="image">   
    <a href="{{site.url}}{{site.baseurl}}"><img src="{{site.url}}{{site.baseurl}}/assets/img/sidebar_logo.png" width="200px"></a>
</div>  

<p style="text-align:center;font-size:110%;font-weight:bold;">Connected Learning Community Partnerships</h2>
        
<div id="{{ page.subsection }}">

    <ul class="agenda-navigation">
<li class="overview sectionhead"><a href="index.html">Module Overview</a></li>

<li class="one sectionhead"><a href="section-1-0.html">1. Overview</a></li>       
            
<li class="two sectionhead"><a href="section-2-0.html">2. Overview</a></li>
    <li class="two-one"><a href="section-2-1.html">2.1 How Partners Can Help Teen Services Librarians</a></li>
    <li class="two-two"><a href="section-2-2.html">2.2 How Libraries Can Help Their Partners</a></li>
    <li class="two-one"><a href="section-2-3.html">2.3 Levels of Partnership</a></li>
    <li class="two-two"><a href="section-2-4.html">2.4 Section 2 Activities</a></li>

<li class="three sectionhead"><a href="section-3-0.html">3. Overview</a></li>
    <li class="three-one"><a href="section-3-1.html">3.1 Informal Learning Institutions</a></li>
    <li class="three-two"><a href="section-3-2.html">3.2 Individuals, Businesses, and Community Groups</a></li>
    <li class="three-three"><a href="section-3-3.html">3.3 Youth-Serving Organizations</a></li>
    <li class="three-four"><a href="section-3-4.html">3.4 Schools</a></li>
    <li class="three-five"><a href="section-3-5.html">3.5 Section Activities</a></li>
   
<li class="four sectionhead"><a href="section-4-0.html">4. Overview</a></li>
    <li class="four-one"><a href="section-4-1.html">4.1 Start the Conversation</a></li>
    <li class="four-two"><a href="section-4-2.html">4.2 Elements of a Successful Partnership</a></li>
    <li class="four-three"><a href="section-4-3.html">4.3 Sustaining and Strengthening Partnerships</a></li>
    <li class="four-four"><a href="section-4-4.html">4.4 Ending a Partnership</a></li>
    <li class="four-four"><a href="section-4-5.html">4.5 Activities</a></li>
</ul> 
        </div>
      </aside>
