 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">ConnectedLib Home</a>
    </div>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Modules
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Module 1</a></li>
          <li><a href="#">Module 2</a></li>
          <li><a href="#">Module 3</a></li>
          <li><a href="#">Module 4</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav> 
<!-- Old Navbar
<div class="clnavbar">
      <p><a href="{{site.url}}{{site.baseurl}}/">ConnectedLib</a> > <a href="index.html">{{page.module_full_name}}</a> > <span class="navlink"> {{page.section}}</span></p>
</div>
-->
