<!-- Old Navbar
<div class="clnavbar">
      <p><a href="{{site.url}}{{site.baseurl}}/">ConnectedLib</a> > <a href="index.html">{{page.module_full_name}}</a> > <span class="navlink"> {{page.section}}</span></p>
</div>
-->

<div class="topnav" id="myTopnav">
  <a href="#home" class="active">ConnectedLib Home</a>
  <div class="dropdown">
    <button class="dropbtn">Modules 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Module 1</a>
      <a href="#">Module 2</a>
      <a href="#">Module 3</a>
      <a href="#">Module 4</a>
    </div>
  </div> 
  <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
</div>
<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>
