<div class="activity-menu">
          <a class="toggle"><strong>Data for Decison-Making</strong> - Module 1 of 6</a>
          <div class= "header-links"><a href="../D4DM/index.html" target="_blank">HOME</a>
            <a href="../D4DM/about/" target="_blank">ABOUT</a>
          <a href="../D4DM/downloads/" target="_blank">DOWNLOADS</a></div>
          <ol class="activity-list">
            <li class="current"><a href="module-one.html">Introduction to Data for Decision Making</a></li>
            <li><a href="module-two.html">Assessing your Organization’s Data Culture</a></li>
            <li><a href="module-three.html">Introduction to the Data Lifecycle - Collecting Data</a></li>
            <li><a href="module-four.html">Introduction to the Data Lifecycle - Analyzing and Sharing Data</a></li>
            <li><a href="module-five.html">Applying Data for Decision Making
to Your Organization, Part 1</a></li>
            <li><a href="module-six.html">Applying Data for Decision Making
to Your Organization, Part 2</a></li>
          </ol>
        </div>

<div class="clnavbar">
      <p><a href="{{site.url}}{{site.baseurl}}/">ConnectedLib</a> > <a href="index.html">{{page.module_full_name}}</a> > <span class="navlink"> {{page.section}}</span></p>
</div>
