<!-- Sidebar Nav for the Introduction Module -->
<aside>
<div class="image">   
    <a href="{{site.url}}{{site.baseurl}}"><img src="{{site.url}}{{site.baseurl}}/assets/img/sidebar_logo.png" width="200px"></a>
</div>  

<p style="text-align:center;font-size:110%;font-weight:bold;">Connected Learning Youth Development</h2>
        
<div id="{{ page.subsection }}">

    <ul class="agenda-navigation">
<li class="overview sectionhead"><a href="index.html">Module Overview</a></li>

<li class="one sectionhead"><a href="section-1-0.html">1. Introduction</a></li>       
    <li class="one-one"><a href="section-1-1.html">1.1 Piaget's Theory of Cognitive Development</a></li>
    <li class="one-two"><a href="section-1-2.html">1.2 Vygotsky's Sociocultural Learning Theory</a></li>
    <li class="one-three"><a href="section-1-3.html">1.3 Papert's Constructionism Theory</a></li>
    <li class="one-three"><a href="section-1-4.html">1.4 Bandura's Social Cognitive Learning Theory</a></li>
    <li class="one-three"><a href="section-1-5.html">1.5 Bronfenbrenner's Ecological Model</a></li>
    <li class="one-three"><a href="section-1-6.html">1.6 Erikson's Psychosocial Theory</a></li>
            
<li class="two sectionhead"><a href="section-2-0.html">2. Introduction</a></li>
    <li class="two-one"><a href="section-2-1.html">2.1 Forming an Identity</a></li>
    <li class="two-two"><a href="section-2-2.html">2.2 Relationships</a></li>
    <li class="two-three"><a href="section-2-3.html">2.3 Moral and Ethical Development</a></li>

<li class="three sectionhead"><a href="section-3-0.html">3. Introduction</a></li>
    <li class="three-one"><a href="section-3-1.html">3.1 Teens' Media Use</a></li>
    <li class="three-two"><a href="section-3-2.html">3.2 Communicating Online</a></li>
    <li class="three-three"><a href="section-3-3.html">3.3 Video Games</a></li>
    <li class="three-four"><a href="section-3-4.html">3.4 Digital Media and Literacy</a></li>

<li class="four sectionhead"><a href="section-4-0.html">4. Conclusion</a></li>
    
</ul> 
        </div>
      </aside>
