/* This is for the version of the left nav that isn't all-in-one */

/* GENERAL STUFF COPIED FROM TASCHA */

body {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
}

p, li, span {
  color: rgba(0,0,0,.7);
}

.wrapper {
  display: flex;
  min-height: 100vh;
}

h1 {
  font-size: 40px;
  font-weight: normal;
  position: relative;
  margin: 0;
}

hr {
  background: #d84060;
  width: 50%;
  height: 2px;
  border: none;
  margin: 35px 0 45px 0;
  position: relative;
  left: 25%;
  opacity: .3;
}

.made-by {
  margin: 8px 0 5px 0;
  color: rgba(0,0,0,.5);
}

.summary {
  color: #D3627F;
  border-left: solid 2px #EF9AB6;
  background: #fae6ea;
  margin: 25px 0 35px 0;
  font-size: 18px;
  line-height: 145%;
  padding: 20px ;
  font-style: italic;
}

.summary li {
  list-style-type: circle; 
}

blockquote {
  color: #dad6db;
  border-left: solid 2px #EF9AB6;
  background: #fae6ea;
  margin: 25px 0 35px 0;
  font-size: 16px;
  line-height: 150%;
  padding: 20px;
}

blockquote a {
  color: inherit;
  font-weight: 700;
  text-decoration: underline;
}

.fancy blockquote {
  background: transparent;
  margin: 25px 0;
  font-size: 16px;
  line-height: 150%;
  padding: 0 0 0 20px;
  background: rgba(255,255,255,.7);
  padding: 20px 20px;
  border-left: solid 2px rgba(203,35,79,.2);
}

h2 {
  color: rgba(0,0,0,.65);
  margin: 30px 0 20px 0;
  font-size: 28px;
  font-weight: 500;
}

h3 {
  color: rgba(0,0,0,.65);
  margin: 40px 0 15px 0;
  font-size: 18px;
  font-weight: 700;
}


h4,h5 {
  color: rgba(0,0,0,.65);
  margin: 40px 0 15px 0;
  font-size: 1em;
  font-weight: 700;
}

b, strong {
  font-weight: 600;
  color: inherit;
}

a {
  color: #3897c1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

article.wrap {
  position: relative;
  padding: 0px;
  left: 275px;
}

article.main {
  position: relative;
  padding: 30px 40px 30px 50px;
}

article.main *:not(.activity-menu) {
  max-width: 750px;
}

.time {
  color:#3fb58e;
  background: #caf6e6;
  border-radius: 2px;
  margin: 14px 0 0 0;
  display: inline-block;
  border-width: 0 0 0 2px;
  padding: 8px 13px 8px 34px;
  background-image: url(../img/clock.svg);
  background-size: 18px;
  background-position: 10px center;
  background-repeat: no-repeat;
}

.download-box {
  color:#1a53ff;
  background: #b3c6ff;
  border-radius: 2px;
  margin: 14px 0 0 0;
  display: inline-block;
  border-width: 0 0 0 2px;
  padding: 8px 13px 8px 34px;
  background-image: url(../images/download.png);
  background-size: 18px;
  background-position: 10px center;
  background-repeat: no-repeat;
}

a.download-box:link {
  text-decoration: underline;
  color: #001a66;
  background: none;
}

.agenda .time {
  margin: 0 0 25px 0;
}

figure {
  padding: 0 0 50px 0;
  margin: 20px 0 0 0;
}

figure img {
  display: block;
  max-width: 100%;
}

.agenda img {
  max-width: 100%;
}

.discussion-link {
  border-top: solid 1px #DDD;
  padding-top: 20px;
  margin-top: 55px;
  padding-bottom:0;
  margin-bottom:0;
}

/* NAVBAR */
/* SOURCE: https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp */

/* Navbar container */
.clnavbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.clnavbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.clnavbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
} 

/* Left column Navigation */

aside {
  /* background: #EDEDEE; */
  background: #959896; /* darker gray */
 /* flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 300px;*/
  width:275px;
  position:fixed;
  height: 100%; 
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

aside .image {
  position: relative;
}

aside .image.padded {
  padding: 25px;
}

aside .image img {
  width: 100%;
  display: block;
}

aside .image .attribution {
  position: absolute;
  bottom: 11px;
  right: 11px;
  padding: 6px 10px 6px 10px;
  font-size: 13px;
  margin-left: 5px;
  color: rgba(255,255,255,.7);
  background: rgba(0,0,0,.3);
  text-decoration: none;
  transition: all .1s ease-out;
  background-repeat: no-repeat;
  border-radius: 2px;
}

aside .image .attribution i {
  margin-right: 2px;
}

aside .image .attribution:hover {
  background: rgba(0,0,0,.5);
  color: rgba(255,255,255,.9);
}

.overview li:last-child,
.agenda li:last-child {
  border: none;
}

ul.agenda {
  margin: 0;
  padding: 0;
}

.agenda ul li {
  line-height: 135%;
  margin-bottom: 10px;
}

.agenda ol, .agenda ul, .overview ol, .overview ul {
  padding-left: 25px;
  margin-top: 15px;
}

.agenda ol li, .agenda ul li {
  border-bottom: solid 1px #DDD;
  margin: 0;
  padding: 14px 0;
}

.overview ol li, .overview ul li {
  margin: 0;
  padding: 0 0 12px 0;
}

.overview ul li:not(.optional) + li.optional {
  border-top: solid 1px rgba(0,0,0,.1);
  padding-top: 10px;
}

.overview ul li.optional {
  font-style: italic;
  color: rgba(0,0,0,.5);
}

.overview ul li.optional:after {
  content: " (Optional)";
}

.agenda ul {
  list-style-type: disc;
}

.agenda > li {
  list-style-type: none;
}

.agenda p {
  line-height: 150%;
}

.agenda code {
  padding: 1px 4px;
  color: #D3627F;
  background: #fae6ea;
}

/* Agenda Navigation */

.agenda-navigation {
  padding: 0;
  margin: 0px 0 80px 0;
  list-style-type: none;
  position: relative;
}

.agenda-navigation.fixed {
  position: fixed;
  top: 0;
  width: 300px;
}

.agenda-navigation li {
  position: relative;
}

.agenda-navigation li a {
  display: block;
  font-size: 14px;
  text-decoration: none;
  color: rgb(51, 51, 51);
  transition: background .1s ease-out;
}

.agenda-navigation li.selected a {
  background: #C92751;
}


#overview .agenda-navigation li.overview a, #one .agenda-navigation li.one a, #two .agenda-navigation li.two a, #three .agenda-navigation li.three a, #four .agenda-navigation li.four a, #five .agenda-navigation li.five a, #six .agenda-navigation li.six a {
  background: #C92751;
}

.agenda-navigation li a {
  padding-left: 55px;
  color: rgb(51, 51, 51);
}

.agenda-navigation a {
  padding: 18px 22px;
}

.agenda-navigation a:hover {
  background: #d13359;
}

.agenda-navigation li.selected a {
  color: white;
}

.agenda-navigation li:after {
  pointer-events: none;
  position: absolute;
  text-align: center;
  color: rgb(51, 51, 51);
  font-size: 14px;
  border: solid 2px rgba(51,51,51);
  color: rgba(51,51,51);
  border-radius: 50%;
  width: 23px;
  top: calc(50% - 15px);
  left: 16px;
  padding: 5px 0;
  top: 11px;
}

.agenda-navigation li.selected:after {
  border: solid 2px rgba(51,51,51, .8);
  color: rgba(51,51,51, 1);
}

.agenda-navigation li:nth-child(1):after {
  content: "";
  height: 18px;
  width: 22px;
  left: 16px;
  top: 11px;
  position: absolute;
  border: none;
  border-radius: 0;
  background-image: url(../img/flag.svg);
  background-size: 22px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 5;
  padding: 0;
  fill: rgba(51,51,51,1);
}

.agenda-navigation li.selected:nth-child(1):after {
  opacity: 5;
}

/* This adds the numbers to each agenda step link 

.agenda-navigation li:nth-child(2):after {
  content: "1";
}

.agenda-navigation li:nth-child(3):after {
  content: "2";
}

.agenda-navigation li:nth-child(4):after {
  content: "3";
}

.agenda-navigation li:nth-child(5):after {
  content: "4";
}

.agenda-navigation li:nth-child(6):after {
  content: "5";
}

.agenda-navigation li:nth-child(7):after {
  content: "6";
}

.agenda-navigation li:nth-child(8):after {
  content: "7";
}

.agenda-navigation li:nth-child(9):after {
  content: "8";
}

.agenda-navigation li:nth-child(10):after {
  content: "9";
}

.agenda-navigation li:nth-child(11):after {
  content: "10";
}

.agenda-navigation li:nth-child(12):after {
  content: "11";
}

.agenda-navigation li:nth-child(13):after {
  content: "12";
}

.agenda-navigation li:nth-child(14):after {
  content: "13";
}

.agenda-navigation li:nth-child(15):after {
  content: "14";
}

.agenda-navigation li:nth-child(16):after {
  content: "15";
}

.agenda-navigation li:nth-child(17):after {
  content: "16";
}
*/
.next-up {
  background: #eee;
  padding: 20px 30px 20px 30px;
  text-align: right;
  position: relative;
}

.next-up .arrow {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  padding: 0 5px;
  position: relative;
  top: -2px;
}

/* Fancy red list that is now blue */

ul.fancy, ol.fancy {
  background: #afd6ee; /* light blue */ 
  color: #0b4eab; /* dark blue */
  border-radius: 2px;
  margin: 20px 0 35px 0;
  padding: 8px 35px 8px 40px;
  border-left: solid 2px rgba(203,35,79,.2);
}

ul.fancy {
  list-style-type: disc;
}

.fancy li, .agenda .fancy li {
  color: #0b4eab; /* dark blue */
  border-bottom: solid 1px rgba(203,35,79,.15);
  padding: 14px 0 !important;
}

.fancy li:last-child {
  border-bottom: none;
}

.fancy a {
  color: inherit;
  font-weight: 700;
  text-decoration: underline;
}

/* Footer */
#footerwrap {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #e7dfee; /* light grayish purple */
}

#footerwrap p {
  color: {{ site.colors.footer_content }};
}

#footerwrap h4 {
  color: {{ site.colors.footer_heading }};
}

#footerwrap i {
  font-size: 30px;
  color: {{ site.colors.footer_content }};
  padding-right: 25px;
}

#footerwrap i:hover {
  color: #e81e25
}

/* INDEX PAGE BUTTONS */

.btn-theme {
  color: #fff;
  /* background-color: black;
  border-color: black; */
  background-color: #510076; /* dark purple */
  border-color: #510076; /* dark purple */
  margin: 4px;
}
.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active,
.open .dropdown-toggle.btn-theme {
  color: #fff;
  /* background-color: #e81e25;
  border-color: #e81e25; */
  background-color: #730bdb; /* light purple */
  border-color: #730bdb; /* light purple */
}


/* BOX STYLES */

a .external {
  font-weight: bold !important; 
}

.case_study_box { 
  background: #ebbeff; /* light purple */
  border-left: solid 2px #510076; /* dark purple */
  margin: 25px 0 35px 0;
  font-size: 18px;
  line-height: 145%;
  padding: 20px ;
}

.explanatory { 
  background: #41c341; /* green */
  border-left: solid 2px #006400;  /* dark green */
  margin: 10px;
  /* font-size: 18px;
  line-height: 145%; */
  padding: 10px ;
}

.tips { 
  background: orange;
  border-left: solid 2px red; 
  margin: 25px 0 35px 0;
  font-size: 18px;
  line-height: 145%;
  padding: 20px ;
}

.reflection { 
  background: yellow;
  border-left: solid 2px orange; 
  margin: 25px 0 35px 0;
  font-size: 18px;
  line-height: 145%;
  padding: 20px ;
}

.box-title {
  font-weight: bold;
  text-transform: uppercase;
}
